{% extends "base.html" %}
{% block content %}
<div class="register-container">
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="date" name="date_of_birth" placeholder="Date of Birth" required>
        <button type="submit">Create Account</button>
    </form>
</div>
{% endblock %}